@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');

@import './styles/reset.css';

body {
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ant-modal-content {
  padding-left: 50px !important;
  width: 500px !important;
}

.exclamation-icon {
  position: absolute;
  left: 20px;
  top: 21px;
  font-size: 24px;
  color: #faad14;
}
